.main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border-bottom:1px solid white;
    &-title{
      font-family: 'Audiowide', cursive;
    }
  }
  &__search-filter-person{
    &-input{
      padding: 5px;
      margin: 10px;
      background-color: white;
      color: black;
    }
  }
  &__pages-person{
    display: flex;
    justify-content: center;
    align-items: center;
    &-span{
      margin: 10px;
    }
  }
  & ul{
    list-style: none;
  }
  &__persons-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    &-items{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 20px 20px 20px;
      &-photo{
        width: 300px;
        height: 281px;
      }
    }
  }
}