<div class="main">
  <div class="main__menu">
    <div class="main__search-filter-person">
      <input class="main__search-filter-person-input" id="searchperson" [(ngModel)]="searchPerson" placeholder="Search by ID...">
      <input class="main__search-filter-person-input" id="filterperson" [(ngModel)]="filterName" placeholder="Filter by name...">
    </div>
    <div>
      <h1 class="main__menu-title">Popular Persons</h1>
    </div>
    <div class="main__pages-person">
        <button class="buttons-style" *ngIf="(pageUrl>1)"(click)="getPersonListBefore(pageUrl, totalPageUrl)">Previous Page</button>
        <button class="buttons-style" (click)="getPersonListStart(1)">Page 1</button>
        <button class="buttons-style" (click)="getPersonListNext(pageUrl, totalPageUrl)">Next Page</button>
        <span  class="main__pages-person-span text-family">Page {{pageUrl}} of {{totalPageUrl}}</span>
    </div>
  </div>

  <!-- estamos usando pipes en personList donde filtnerName es el nombre del pipes 
  y filterperson es el parámetro de busqueda q pasamos al pipe (q es el ngmodel del input)-->

  <div class="main__persons-list">
    <ul *ngFor="let item of (personsList | filterName: filterName: 'name' | searchId: searchPerson)">
      <div class="main__persons-list-items">
        <li class="text-family"><a [routerLink]="['/persons', item.id]">{{item.id}}</a></li>
        <a *ngIf="item.profile_path!=null"[routerLink]="['/persons', item.id]"><img class="main__persons-list-items-photo" src="https://image.tmdb.org/t/p/w500{{item.profile_path}}" alt=""></a>
        <a *ngIf="item.profile_path===null"[routerLink]="['/persons', item.id]"><img class="main__persons-list-items-photo" src="https://gaprastore.com/wp-content/uploads/2020/12/no_image-1.jpg" alt=""></a>
        <li class="text-family">{{item.name}}</li>
        <!-- <ul *ngFor="let movie of item.known_for">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" alt="">
          <span>{{movie.id}}</span>
          <span>{{movie.original_title}}</span>
        </ul> -->
      </div>
    </ul>
  </div>
</div>