.main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__button-back{
    display: flex;
    justify-content: flex-end;
    width: 95%;
    border-bottom:1px solid white;
  }
  &__container-person{
    display: flex;
    flex-direction: column;
    width: 93%;
    margin: 20px;
  }
  & ul{
    list-style: none;
  }
  &__person-details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &-img{
      text-align: center;
    }
    &-txt{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 5px 0 0 20px;
      &-title{
        font-family: 'Audiowide', cursive;
      }
      & p{
        padding: 5px;
        text-align: justify;
      }
      &-array{
        &-item{
          margin: 0 20px;
        }
      }
    }
    &-credits{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border-top: 1px solid white;
      margin-top: 10px;
      text-align: justify;
      &-items{
        margin: 10px;
        padding-bottom: 10px;
        &-photo{
          width: 500px;
          height: 281px;
        }
      }
    }
  }
}

