<div class="main">
  <div class="main__button-back">
    <button class="buttons-style" (click)="goBack()">Back To Persons List</button>
  </div>
  <div class="main__container-person">
    <div class="main__person-details">
      <div class="main__person-details-img">
        <img src="https://image.tmdb.org/t/p/w500{{personDetails.profile_path}}" alt="">
      </div>
      <div class="main__person-details-txt">
        <h1 class="main__person-details-txt-title">{{personDetails.name}}</h1>
        <p><span class="font-bold">Id: </span>{{personDetails.id}}</p>
        <p *ngIf="personDetails.adult===true">Only Adults.</p>
        <p *ngIf="personDetails.adult===false">All Public.</p>
        <p><span class="font-bold">Birthday: </span>{{personDetails.birthday}}.</p>
        <p *ngIf="personDetails.deathday!=null"><span class="font-bold">Deathday: </span>{{personDetails.deathday}}</p>
        <p><span class="font-bold">Gender: </span>{{personDetails.gender}}</p>
        <p *ngIf="personDetails.homepage!=null"><span class="font-bold">Homepage: </span>{{personDetails.homepage}}</p>
        <p><span class="font-bold">Department: </span>{{personDetails.known_for_department}}.</p>
        <div class="main__person-details-txt-array">
          <p class="font-bold">Also Known as:</p>
          <ul *ngFor="let item of personDetails.also_known_as">
            <li class="main__person-details-txt-array-item">{{item}}</li>
          </ul>
        </div>
        <p><span class="font-bold">Place Of Birth: </span>{{personDetails.place_of_birth}}.</p>
        <p><span class="font-bold">Popularity: </span>{{personDetails.popularity}}.</p>
      </div>
    </div>
    <div class="main__person-details-credits">
      <ul *ngFor="let item of personCredits">
        <div class="main__person-details-credits-items">
          <h1 class="main__person-details-txt-title">{{item.original_title}}</h1>
          <li><span class="font-bold">ID MOVIE: </span>{{item.id}}</li>
          <img *ngIf="item.backdrop_path!=null" src="https://image.tmdb.org/t/p/w500/{{item.backdrop_path}}" alt="">
          <img class="main__person-details-credits-items-photo" *ngIf="item.backdrop_path===null" src="https://gaprastore.com/wp-content/uploads/2020/12/no_image-1.jpg" alt="">
          <li class="main__person-details-credits-items-overview">{{item.overview}}</li>
        </div>
      </ul>
    </div>
  </div>
</div>
