*{
  margin: 0;
  padding: 0;
  background-color: black;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  height: calc(100% - ( 84px + 94px));
  &__a-img{
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__img{
    width: 100%;
    max-height: 100%;
  }
}