<div class="main">
  <a class="main__a-img" routerLink="/movies"><img class="main__img" src="https://cdn.vox-cdn.com/thumbor/j9ZnOTbUzQFw57PsCcoNYzdPKuo=/0x0:3000x2000/2070x1164/filters:focal(1260x760:1740x1240):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/69241732/jbareham_210404_ecl1085_summer_movies_2021.0.jpg" alt="Go to movies list!"></a>
</div>