<div class="main">
  <div class="main__button-back">
    <button class="buttons-style" (click)="goBack()">Back To Movies List</button>
  </div>
  <div class="main__container-movie">
    <div class="main__movie-details">
      <div class="main__movie-details-img">
        <img src="https://image.tmdb.org/t/p/w500{{movieDetails.poster_path}}" alt="">
      </div>
      <div class="main__movie-details-txt">
        <h1 class="main__movie-details-txt-title">{{movieDetails.title}}</h1>
        <p><span class="font-bold">Id: </span>{{movieDetails.id}}</p>
        <div class="main__movie-details-txt-array">
          <p class="font-bold">Geners:</p>
          <ul *ngFor="let item of movieDetails.genres">
            <li class="main__movie-details-txt-array-item">{{item.name}}</li>
          </ul>
        </div>
        <p *ngIf="movieDetails.adult===true">Only Adults.</p>
        <p *ngIf="movieDetails.adult===false">All Public.</p>
        <p><span class="font-bold">Budget: </span>{{movieDetails.budget}}.</p>
        <p><span class="font-bold">Web: </span>{{movieDetails.homepage}}</p>
        <p><span class="font-bold">Original Language: </span>{{movieDetails.original_language | uppercase}}</p>
        <p><span class="font-bold">Original Title: </span>{{movieDetails.original_title}}</p>
        <p><span class="font-bold">Popularity: </span>{{movieDetails.popularity}}.</p>
        <div class="main__movie-details-txt-array">
          <p class="font-bold">Companies:</p>
          <ul *ngFor="let item of movieDetails.production_companies">
            <li class="main__movie-details-txt-array-item">{{item.name}}</li>
          </ul>
        </div>
        <div class="main__movie-details-txt-array">
          <p class="font-bold">Countries:</p>
          <ul *ngFor="let item of movieDetails.production_countries">
            <li class="main__movie-details-txt-array-item">{{item.name}}</li>
          </ul>
        </div>
        <p><span class="font-bold">Release Date: </span>{{movieDetails.release_date}}.</p>
        <p><span class="font-bold">Revenue: </span>{{movieDetails.revenue}}.</p>
        <p><span class="font-bold">Runtime: </span>{{movieDetails.runtime}} min.</p>
        <div class="main__movie-details-txt-array">
          <p class="font-bold">Languages:</p>
          <ul *ngFor="let item of movieDetails.spoken_languages">
            <li class="main__movie-details-txt-array-item">{{item.name}}</li>
          </ul>
        </div>
        <p><span class="font-bold">Status: </span>{{movieDetails.status}} min.</p>
        <p><span class="font-bold">Tagline: </span>{{movieDetails.tagline}} min.</p>
        <p><span class="font-bold">Vote Average: </span>{{movieDetails.vote_average}} min.</p>
        <p><span class="font-bold">Vote Count: </span>{{movieDetails.vote_count}} min.</p>
        <p><span class="font-bold">Overview: </span>{{movieDetails.overview}}</p>
      </div>
    </div>
  </div>
</div>
