.main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__button-back{
    display: flex;
    justify-content: flex-end;
    width: 95%;
    border-bottom:1px solid white;
  }
  &__container-movie{
    display: flex;
    width: 93%;
    margin: 20px;
  }
  & ul{
    list-style: none;
  }
  &__movie-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    &-img{
      text-align: center;
    }
    &-txt{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 5px 0 0 20px;
      width: 50%;
      &-title{
        font-family: 'Audiowide', cursive;
      }
      & p{
        padding: 5px;
        text-align: justify;
      }
      &-array{
        &-item{
          margin: 0 20px;
        }
      }
    }
  }
}