<div class="footer">
  <div class="footer__menu">
    <ul>
      <div class="footer__menu-items">
        <li class="footer__menu-items-item"><a routerLink="/home"><span class="fab fa-instagram icon-color"></span></a></li>
        <li class="footer__menu-items-item"><a routerLink="/movies"><span class="fab fa-facebook-f icon-color"></span></a></li>
        <li class="footer__menu-items-item"><a routerLink="/persons"><span class="fab fa-twitter icon-color"></span></a></li>
      </div>
    </ul>
  </div>
</div>