*{
  background-color: white;
  color: black;
}
.main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title{
      font-size: 50px;
      padding: 10px;
      font-family: 'Audiowide', cursive;
    }
    & ul{
      list-style: none;
    }
    &-items{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      &-item{
        padding: 30px;
        font-size: 20px;
      }
    }
  }
}
.footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__menu{
      width: 100%;
      & ul{
        list-style: none;
      }
      &-items{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        &-item{
          padding: 30px;
          font-size: 30px;
        }
      }
    }
  }
  .icon-color:hover{
    color:red;
  }