.buttons-style{
  font-family: 'Audiowide', cursive;
  color: black;
  background-color: white;
  border: 1px solid grey;
  margin: 10px;
  padding: 5px;
  &:hover{
    color: red;
    background-color: black;
    border: 1px dashed grey;
    margin: 10px;
  }
}
