<div class="main">
  <div class="main__menu">
    <div class="main__search-filter-movie">
      <input class="main__search-filter-movie-input" id="searchMovie" [(ngModel)]="searchMovie" placeholder="Search by ID...">
      <input class="main__search-filter-movie-input" id="filtermovie" [(ngModel)]="filterMovie" placeholder="Filter by name...">
      <button><span class="fas fa-star icon-color" [routerLink]="['/movies/favorites']"> FAV MOVIES</span></button>
    </div>
    <div>
      <h1 class="main__menu-title">Popular Movies</h1>
    </div>
    <div class="main__pages-movie">
        <button class="buttons-style" *ngIf="(pageUrl>1)"(click)="getMovieListBefore(pageUrl, totalPageUrl)">Previous Page</button>
        <button class="buttons-style" (click)="getMovieListStart(1)">Page 1</button>
        <button class="buttons-style" (click)="getMovieListNext(pageUrl, totalPageUrl)">Next Page</button>
        <span  class="main__pages-movie-span text-family">Page {{pageUrl}} of {{totalPageUrl}}</span>
    </div>
  </div>

  <!-- estamos usando pipes en movieList donde filtnerNames es el nombre del pipes 
  y filterMovie es el parámetro de busqueda q pasamos al pipe (q es el ngmodel del input)-->

  <div class="main__movies-list">
    <ul *ngFor="let item of (movieList | filterName: filterMovie: 'original_title' | searchId: searchMovie)">
      <div class="main__movies-list-items">
        <div class="main__movies-list-items-header">
          <li class="text-family"><a [routerLink]="['/movies', item.id]">{{item.id}}</a></li>
          <button class="fas fa-star icon-color" (click)="addToFavorite(item.id)"></button>
        </div>
        <a *ngIf="item.backdrop_path!=null"[routerLink]="['/movies/details/', item.id]"><img class="main__movies-list-items-photo" src="https://image.tmdb.org/t/p/w500{{item.backdrop_path}}" alt=""></a>
        <a *ngIf="item.backdrop_path===null"[routerLink]="['/movies/details/', item.id]"><img class="main__movies-list-items-photo" src="https://gaprastore.com/wp-content/uploads/2020/12/no_image-1.jpg" alt=""></a>
        <li class="text-family">{{item.original_title}}</li>
      </div>
    </ul>
  </div>
</div>