.main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__button-back{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border-bottom:1px solid white;
  }
  &__fav{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    &-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 80%;
      & ul{
        list-style: none;
      }
      &-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
      }
    }
  }
}