<div class="main">
  <div class="main__button-back">
    <h1 class="text-family" *ngIf="favMovies.length>0">Fav Movies: </h1>
    <h1 class="text-family" *ngIf="favMovies.length===0">No Fav</h1>
    <button class="buttons-style" (click)="goBack()">Back To Movies List</button>
  </div>
<div class="main__fav" *ngIf="movieDetails">
  <div class="main__fav-list">
    <ul *ngFor="let item of movieDetails">
      <div class="main__fav-list-items">
        <li class="text-family">{{item.id}}</li>
        <a *ngIf="item.backdrop_path!=null"[routerLink]="['/movies/details/', item.id]"><img class="main__movies-list-items-photo" src="https://image.tmdb.org/t/p/w500{{item.backdrop_path}}" alt=""></a>
        <a *ngIf="item.backdrop_path===null"[routerLink]="['/movies/details/', item.id]"><img class="main__movies-list-items-photo" src="https://gaprastore.com/wp-content/uploads/2020/12/no_image-1.jpg" alt=""></a>
        <li class="text-family">{{item.original_title}}</li>
      </div>
    </ul>
  </div>
</div>
</div>