<div class="main">
  <div class="main__nav-menu">
    <h1 class="main__nav-menu-title">movies api</h1>
    <ul>
      <div class="main__nav-menu-items">
        <li class="main__nav-menu-items-item"><a routerLink="/home"><span class="fas fa-home icon-color"></span></a></li>
        <li class="main__nav-menu-items-item"><a routerLink="/movies"><span class="fas fa-video icon-color"></span></a></li>
        <li class="main__nav-menu-items-item"><a routerLink="/persons"><span class="far fa-id-card icon-color"></span></a></li>
      </div>
    </ul>
  </div>
</div>